# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Random UNIX related things
._*
*.gz

#Execuitables
rps
exifview
gdbdemo
lab3/lab3
project3/unit_tests
project3/mymalloc
project3/balls
project4/y
